/* Web Fonts
****************************************************************************/
@font-face {				
    font-family: 'DINOT-Bold';			
    src: 	url('/fonts/dinotbold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINOT-CondMedium';
    src: 	url('fonts/DINOT-CondMedium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stag-Bold';
    src: 	url('fonts/Stag-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stag-Black';
    src: 	url('fonts/Stag-Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stag-Book';
    src: 	url('fonts/Stag-Book.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stag-Semibold';
    src: 	url('fonts/Stag-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stag-Light';
    src: 	url('fonts/Stag-Light.otf');
    font-weight: normal;
    font-style: normal;
}
/* ID Elements
****************************************************************************/
/* Navigation */
#BackColour{
	position:absolute;
	left:8;
	right:8;
	height:120px;
	background:#000000;
}
#BackColour_SubNavBar{
	position:absolute;
	left:8px;
	right:8px;
	height:120px;
	background:#DD523C;
        top: 120px;
        text-transform:uppercase;
}
#BackColour_Picnic{
	position:absolute;
	left:138px;
	/*right:125px;*/
        width: 1090px;
	height: 45px;
	background:#000000;         
}
.picnic2{
        top: 5350px;
}
.picnic4{
        top: 5420px;
}
.picniccust{
        top: 5490px;
}
#picnictext{
        position:absolute;
	left:150;
	right:125;
        text-transform:uppercase;
        font-family:Stag-Light;
        font-size:22px;
            
}

.picnictext2{
        top: 5360px;
}
.picnictext4{
        top: 5430px;
}
.picnictextcust{
        top: 5500px;
}
#Logo{
        left:138px;
        position:absolute;
        display:block;
        width:138px;
        height:61px;
        background:url('../images/fft-logo.png') no-repeat;
        margin-top:30px;
}
#NavBar_Main{
        position:absolute;
        display:block;
        height:25px;
        margin-top:55px;
        font-family:Stag-Bold;
        font-size:14px;
        cursor:pointer;
}
#NavBar_Branch{
        position:absolute;
        display:block;
        height:25px;
        margin-top:55px;
        font-family:Stag-Bold;
        font-size:14px;
        cursor:pointer;
}
#Close{
        cursor:pointer;
}
#SubNavBar{
        position:absolute;
        display:block;
        height:25px;
        margin-top:55px;
        font-family:Stag-Book;
        font-size:12px
}
/* Top Banner */
#TopBanner{
        position:absolute;
        display:block;
        font-family:Stag-Bold;
        font-size:56px;
        top:700px;
        color:#000000;     
        margin-top:65px;
        margin-bottom:65px;
        left:138px;
        width:1000px;
}

/* Restaurants */
#Header{
    position:absolute;
    display:block;
    font-family:Stag-Bold;
    font-size:25px;
    color:#000000;     
    margin-top:65px;
    text-transform:uppercase;
    left:138px;
}
#Resto{
    position:absolute;
    display:block;
    font-family:Stag-Bold;
    font-size:16px;
    top:1125px;
    color:#000000;     
    margin-top:65px;
    text-transform:uppercase;
}
#RestoWrapper{
	position:absolute;
	top:1225px;
	right:8px;
	height:575px;
        width:340px;
	background:#000000;
}
#Social{
	position:absolute;
	right:10px;
        top:150px;
}
#RestoImg{
        position:absolute;
        display:block;
        width:340px;
        height:165px;
        background-size: 100% 100%;
}
#RestoHeader{
        position:absolute;
        display:block;
        width:340px;
        height:165px;
        font-family:Stag-Bold;
        font-size:25px;
        left: 20px;
        top:110px;
        color:#FFFFFF;     
        margin-top:65px;
}
#RestoBody{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        font-family:Stag-Book;
        font-size:13px;
        left: 20px;
        top:150px;
        color:#FFFFFF;     
        margin-top:65px;
}
#RestoHours{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        font-family:Stag-Bold;
        font-size:13px;
        left: 20px;
        top:300px;
        color:#FFFFFF;     
        margin-top:65px;
}
#RestoHoursDetails{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        font-family:Stag-Book;
        font-size:13px;
        left: 20px;
        top:320px;
        color:#FFFFFF;     
        margin-top:65px;
}
#ReadMore{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        font-family:Stag-Book;
        font-size:13px;
        left: 255px;
        top:450px;
        color:#FFFFFF;     
        margin-top:65px;       
}
#ReadMoreImg{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        font-family:Stag-Book;
        font-size:13px;
        left: 235px;
        top:443px;
        color:#FFFFFF;     
        margin-top:68px;
        background:url('../images/ReadMore.png') no-repeat;
        background-size: 10% 15%;      
}
#Menu{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        font-family:Stag-Book;
        font-size:13px;
        left: 50px;
        top:450px;
        color:#FFFFFF;     
        margin-top:68px;    
        cursor:pointer;
}
#Menuheader
{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        left: 50px;
        top:50px;
        color:#FFFFFF;        
}
#Close
{
        position:absolute;
        display:block;
        left: 800px;
        top:20px;
        color:#FFFFFF;  
        font-family:Stag-Book;
        font-size:15px; 
}
#menuwrapper{
        position:absolute;
        display:block;
        width:800px;
        height:600px;
        left: 250px;
        top:50px;
        color:#000000;
        background:#FFFFFF;        
        opacity:0.75;                                
}
#SBGMenu{
        position:absolute;
        display:block;
        width:580px;
        height:600px;
        left: 300px;
        top:50px;
        overflow-y:auto;
}
.SBGbranch{
        font-family:Stag-Bold;
        font-size:25px;    
}
.menu{        
        font-family:Stag-Bold;
        font-size:16px;         
}
.links{        
        font-family:Stag-Bold;
        font-size:13px;         
}
#fadeOverlay
{
        opacity:0.95;
        display:none;
        position:fixed;
        left:200px;
        top:0;
        width:70%;
        height:100%;
        z-index:9999;
        background:#111;
}
#fadeConfirm
{
        opacity:0.95;
        display:none;
        position:fixed;
        left:200px;
        top:175px;
        width:70%;
        height:50%;
        z-index:9999;
        background:#DD523C;
        overflow-y:auto;        
}
#fadeContact
{
        opacity:0.95;
        display:none;
        position:fixed;
        left:150px;
        top:175px;
        width:80%;
        height:50%;
        z-index:9999;
        background:#DD523C;
        overflow-y:auto;        
}
.confirm{
    margin-left:138px;
}
.contact{
    margin-top:75px;
}
.recommendation{
        font-family:Stag-Book;
        font-size:12px;     
        margin-top: 175px;
        width:60%;
}

#MenuImg{
        position:absolute;
        display:block;
        width:275px;
        height:165px;
        font-family:Stag-Book;
        font-size:13px;
        left: 20px;
        top:445px;
        color:#FFFFFF;     
        margin-top:68px;
        background:url('../images/Menu.png') no-repeat;
        background-size: 10% 15%;      
        cursor:pointer;
}
#confirm{      
        font-family:Stag-Book;
        font-size:13px;        
}
#kids{
        position:absolute;
        display:block;
        width:275px;
        height:165px;        
        left: 130px;                      
        background:url('../images/kidsmenuwob.png') no-repeat;
        background-size: 10% 15%;          
        top: 425px;
}
#vege{
        position:absolute;
        display:block;
        width:275px;
        height:165px;        
        left: 65px;                      
        background:url('../images/vegetarianwob.png') no-repeat;
        background-size: 10% 15%;          
        top: 455px;
}
/* Causes*/
#CausesWrapper{
	position:absolute;
	right:8;
	height:350px;
        width:200px;
	background:#000000;
}
#causesubheader{
        position:absolute;
        display:block;
        width:120px;
        height:165px;
        font-family:Stag-Bold;
        font-size:32.5px;
        left: 20px;
        color:#FFFFFF;     
        margin-top:65px;
        text-transform:uppercase;
}
#causebody{
        position:absolute;
        display:block;
        width:155px;
        height:165px;
        font-family:Stag-Semibold;
        font-size:16px;
        left: 20px;
        color:#FFFFFF;     
        margin-top:190px;
        text-transform:uppercase;
}
/* Events Scroll */
#eventdate{
        position:absolute;
        display:block;
        width:155px;
        height:165px;
        font-family:Stag-Book;
        font-size:12px;
        color:#000000;     
        margin-top:2375px;
        text-transform:uppercase;

}
#eventpic{
        position:absolute;
        display:block;
        width:480px;
        height:420px;
        background-size: 100% 100%;
        margin-top:50px;
}
#eventtitle{
        position:absolute;
        display:block;
        width:225px;
        height:165px;
        font-family:Stag-Bold;
        font-size:16px;
        color:#000000;     
        margin-top:10px;
        text-transform:uppercase;
}
#eventthumb{
        position:absolute;
        display:block;
        width:220px;
        height:168px;
        margin-top:50px;      
}
/* Branches */
#IntroHeader{
        left:970px;
        position:absolute;
        display:block;
        width:215px;
        height:165px;
        margin-top:200px;
        font-family:Stag-Bold;
        font-size:21px;
        color:#000000;     
        text-transform:uppercase;
}
#IntroHour{
        left:970px;
        position:absolute;
        display:block;
        width:215px;
        height:165px;
        margin-top:280px;
        font-family:Stag-Bold;
        font-size:13px;
        color:#000000;     
}
#IntroDetails{
        left:970px;
        position:absolute;
        display:block;
        width:215px;
        height:165px;
        margin-top:300px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
}
#IntroIMG{
        left:138px;
        position:absolute;
        display:block;
        width:1050px;
        height:620px;
        background-size: 100% 100%;
}
#IntroBody{
        left:138px;
        position:absolute;
        display:block;
        width:1050px;
        height:620px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
}
#price{
        right:0;
        position:absolute;
        display:block;
        width:725px;
        font-family:Stag-Bold;
        font-size:20px;
        color:#000000; 
        text-transform:none;
        display:inline;
}
#PicnicNote{
        left:138px;
        position:absolute;
        display:block;
        width:1050px;
        height:650px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:5300px;
}
#ReserveNote{
        left:138px;
        position:absolute;
        display:block;
        width:1050px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
}
.two{
    margin-top:5850px;
}
.four{
    margin-top:5925px;
}
.cust{
    margin-top:6000px;
}
#choices{
        
        position:absolute;
        display:block;
        width:1050px;
        height:100px;
        font-family:Stag-Bold;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        
}
.menucol1{
    left:138px;
    margin-top:5415px;
}
.menucol1down{    
    left:138px;
    margin-top:5570px;
}
.menucol14{
    left:138px;
    margin-top:5485px;
}
.menucol14down{
    left:138px;
    margin-top:5640px;
}
.menucol1cust{
    left:138px;
    margin-top: 5555px;
}
.menucol2{
    left:550px;
    margin-top:5415px;
}
.menucol2down{
    left:550px;
    margin-top:5570px;
}
.menucol24down{
    left:550px;
    margin-top:5640px;
}
.menucol2basket{
    left:550px;
    margin-top:5670px;
}
.menucol24basket{
    left:550px;
    margin-top:5770px;
}
.menucol24{
    left:550px;
    margin-top:5485px;
}
.menucol2cust{
    left:550px;
    margin-top:5555px;
}
.menucol3{
    left:950px;
    margin-top:5415px;
}
.menucol34{
    left:950px;
    margin-top:5485px;
}
.menucol3cust{
    left:950px;
    margin-top:5555px;
}
.wine{        
        position:absolute;
        display:block;
        width:400px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:10px;
}
.sandwiches{        
        position:absolute;
        display:block;
        width:400px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:10px;
}
.desserts{        
        position:absolute;
        display:block;
        width:400px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:10px;
}
.sides{        
        position:absolute;
        display:block;
        width:400px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:10px;
}
.drinks2{        
        position:absolute;
        display:block;
        width:400px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:0px;
}
.drinks4{        
        position:absolute;
        display:block;
        width:400px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:0px;
}
.basket{        
        position:absolute;
        display:block;
        width:400px;
        height:100px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        margin-top:0px;
}
#MAP{
        left:138px;
        position:absolute;
        display:block;
        width:1080px;
        height:770px;                
        background-size: 110% 100%;     
}
.SBGmap{
        background:url('../images/SBG/SBGMap.png') no-repeat;
        margin-top:2750px;
}
.NMSmap{
        background:url('../images/NMS/NMSMap.png') no-repeat;
        margin-top:1440px;
}.FFFTmap{
        background:url('../images/FFFT/FFFTMap.png') no-repeat;
        margin-top:2140px;
}
#HOWTO{
        left:138px;
        position:absolute;
        display:block;
        width:1050px;
        height:620px;      
        font-family:Stag-Bold;
        font-size:25px;
        color:#000000; 
        text-transform:none;
}
.SBGhowto{
        margin-top:3530px;
}
.NMShowto{
        margin-top:2250px;
}
#please{
        left:1000px;
        position:absolute;
        display:block;
        width:300px;
        height:620px;
        margin-top:3530px;
        font-family:Stag-Book;
        font-size:16px;
        color:#000000; 
        text-transform:none;
}
#Bus{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/bus.png') no-repeat;
        margin-top:3600px;
        background-size: 20% 20%;
}
#BusNMS{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/bus.png') no-repeat;
        margin-top:2300px;
        background-size: 20% 20%;
}
#Car{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/car.png') no-repeat;
        margin-top:3600px;
        background-size: 20% 20%;
}
#CarNMS{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/car.png') no-repeat;
        margin-top:2300px;
        background-size: 20% 20%;
}
#Taxi{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/taxi.png') no-repeat;
        margin-top:3600px;
        background-size: 20% 20%;
}
#TaxiNMS{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/taxi.png') no-repeat;
        margin-top:2300px;
        background-size: 20% 20%;
}
#Train{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/train.png') no-repeat;
        margin-top:3600px;
        background-size: 20% 20%;
}
#TrainNMS{
        position:absolute;
        display:block;
        width:197px;
        height:191px;
        background:url('../images/transpo/train.png') no-repeat;
        margin-top:2300px;
        background-size: 20% 20%;
}
#transdesc{
        position:absolute;
        display:block;
        width:300px;
        height:620px;
        margin-top:3610px;
        font-family:Stag-Bold;
        font-size:14px;
        color:#000000; 
        text-transform:none;
}
#transdescNMS{
        position:absolute;
        display:block;
        width:300px;
        height:620px;
        margin-top:2310px;
        font-family:Stag-Bold;
        font-size:14px;
        color:#000000; 
        text-transform:none;
}
#transbody{
        position:absolute;
        display:block;
        width:237px;
        height:620px;
        margin-top:3640px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
}
#transbodyNMS{
        position:absolute;
        display:block;
        width:230px;
        height:620px;
        margin-top:2340px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
}
#policy{
        position:absolute;
        display:block;
        width:230px;
        height:620px;
        margin-top:3850px;
        font-family:Stag-Bold;
        font-size:15px;
        color:#000000; 
        text-transform:uppercase;
        left:138px;
}
#policyNMS{
        position:absolute;
        display:block;
        width:230px;
        height:620px;
        margin-top:2540px;
        font-family:Stag-Bold;
        font-size:15px;
        color:#000000; 
        text-transform:uppercase;
        left:138px;
}
#policyheader{
        position:absolute;
        display:block;
        width:230px;
        height:620px;
        font-family:Stag-SemiBold;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        left:138px;
}

#policybody{
        position:absolute;
        display:block;
        width:400px;
        height:620px;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
        left:138px;
}
#btnstyle {
        font-family:Stag-Bold;
        font-size:13px;  
        color:#FFFFFF; 
        text-transform:uppercase;
}
#totaltxt {
        font-family:Stag-Bold;
        font-size:30px;  
        color:#000000; 
        text-transform:uppercase;
}
#total4txt {
        font-family:Stag-Bold;
        font-size:30px;  
        color:#000000; 
        text-transform:uppercase;
}
#picnicbtn {
        font-family:Stag-Bold;
        font-size:13px;  
        color:#FFFFFF; 
        text-transform:uppercase;
}
#readstyle {
        font-family:Stag-Book;
        font-size:13px;  
        color:#FFFFFF; 
}
/* SBG */
#SBGLogo{
        left:138px;
        position:absolute;
        display:block;
        width:215px;
        height:165px;
        background:url('../images/logo/SBGlogo.png') no-repeat;
        margin-top:200px;
}
#NMSLogo{
        left:138px;
        position:absolute;
        display:block;
        width:215px;
        height:165px;
        background:url('../images/logo/NMSlogo.png') no-repeat;
        margin-top:200px;
}
#FFFTLogo{
        left:138px;
        position:absolute;
        display:block;
        width:200px;
        height:285px;
        background:url('../images/logo/FFFTlogo.png') no-repeat;
        margin-top:200px;
}
#SBGMotto{
        left:138px;
        position:absolute;
        display:block;
        width:250px;
        height:115px;
        background:url('../images/logo/SBGmotto.png') no-repeat;
        margin-top:380px;
}
#NMSMotto{
        left:138px;
        position:absolute;
        display:block;
        width:250px;
        height:115px;
        background:url('../images/logo/NMSmotto.png') no-repeat;
        margin-top:380px;
}
#FFFTMotto{
        left:138px;
        position:absolute;
        display:block;
        width:250px;
        height:115px;
        background:url('../images/logo/FFFTmotto.png') no-repeat;
        margin-top:380px;
}
#poster{
        left:138px;
        position:absolute;
        display:block;
        width:1085px;
        height:803px;
        background:url('../images/picnic.png') no-repeat;
        margin-top:4475px;
        background-size: 100% 100%;
}

/* Others */
#hr {
    position:absolute;
    display:block;
    font-family:Stag-Bold;
    font-size:25px;
    color:#000000;     
    text-transform:uppercase;
    left:138px;
    margin-top:65px;
}
#hr_short {
    position:absolute;
    display:block;
    font-family:Stag-Bold;
    font-size:25px;
    top:1120px;
    color:#000000;     
    margin-top:65px;
    text-transform:uppercase;
}
#hr_subevent {
    position:absolute;
    display:block;
    font-family:Stag-Bold;
    font-size:25px;
    color:#000000;     
    margin-top:10px;
    text-transform:uppercase;
}
#Slides {
    display: none;
    width: 90%;
    margin-top: 15px;
    position: relative;
}
A.slidesjs-previous{
	display:block;
	width:31px;
	height:31px;
	background:url('../images/buttonset.png') no-repeat;
	background-position:0 0;
	position:absolute;
	left:0px;
	top:50%;
	z-index:9999;
}
A.slidesjs-next{
	display:none;
	width:31px;
	height:31px;
	background:url('../images/buttonset.png') no-repeat;
	background-position:-30 0;
	position:absolute;
	right:0px;
	top:50%;
	z-index:9999;
}
/* Class Elements
****************************************************************************/
.BackColour_Main{
    top:550px;
}
.BackColour_Branches{
    top:0px;
}
.NavBarCol1{
    left:600px;
}
.NavBarCol1_main{
    margin-left:600px;
    top:550px;
    display:inline;
}
.NavBarCol1_branch{
    margin-left:600px;
    top:0px;
    display:inline;
}
.NavBarCol2{
    left:820px;
}
.NavBarCol2_main{
    margin-left:80px;
    top:550px;
    display:inline;
}
.NavBarCol2_branch{
    margin-left:80px;
    top:0px;
    display:inline;
}
.NavBarCol3{
    left:970px;
}
.NavBarCol3_main{
    margin-left:70px;
    top:550px;
    display:inline;
}
.NavBarCol3_branch{
    margin-left:70px;
    top:0px;
    display:inline;
}
.NavBarCol4{
    left:1150px;
}
.NavBarCol4_main{
    margin-left:90px;
    top:550px;
    display:inline;
}
.NavBarCol4_branch{
    margin-left:90px;
    top:0px;
    display:inline;
}
.SBG{
    left:138px;
}
.NMS{
    left:500px;
}
.FFFT{
    left:880px;
}
.restoheader{
    top:1050px;
}
.restohr{
    top:1060px;
}
.locationheaderSBG{
    top:2625px;
}
.locationheaderNMS{
    top:1300px;
}
.locationhrNMS{
    top:1310px;
}
.locationhrSBG{
    top:2635px;
}
.reservationheader{
    top:3700px;
}
.reservationheaderNMS{
    top:2400px;
}
.reservationhr{
    top:3710px;
}
.reservationhrNMS{
    top:2410px;
}
.picnicheader{
    top:4350px;
}
.picnichr{
    top:4360px;
}
.SBGIMG{
    background:url('../images/resto/SBG.png') no-repeat;
}
.NMSIMG{
    background:url('../images/resto/NMS.png') no-repeat;
}
.FFFTIMG{
    background:url('../images/resto/FFFT.png') no-repeat;
}
.whatsonheader{
    top:1800px;
}
.whatsonhr{
    top:1810px;
}
.whatsonslide{
    top:1850px;
}
.causesheader{
    top:2450px;
}
.causeshr{
    top:2460px;
}
.First{
    left:138px;
    top:2580px;
}
.Gap{
    left:220px;
}
.eventsheader{
    top:2900px;
    
}
.eventshr{
    top:2910px;
}
.eventsbig{
    left:138px;
}
.eventsthumbcol1{
    left:700px;
}
.eventsthumbcol2{
    left:980px;
}
.eventsthumbcol3{
    left:700px;
    top:915px;
}
.eventsthumbcol4{
    left:980px;
    top:915px;
}

.eventsbigIMG{
    background:url('../images/Events/Event1.png') no-repeat;
}
.event2{
    background:url('../images/Events/Event2.png') no-repeat;
}
.event3{
    background:url('../images/Events/Event3.png') no-repeat;
}
.event4{
    background:url('../images/Events/Event4.png') no-repeat;
}
.event5{
    background:url('../images/Events/Event5.png') no-repeat;
}
.SBGIMG1{
    background:url('../images/SBG/SBG1.png') no-repeat;
    margin-top:550px;
}
.NMSIMG1{
    background:url('../images/NMS/NMS1.jpg') no-repeat;
    margin-top:700px;
}
.BlankIMG1{
    background:url('../images/Blank.png') no-repeat;
    margin-top:700px;
}
.BlankIMG2{
    background:url('../images/Blank.png') no-repeat;
    margin-top:1350px;
}
.SBGIMG2{
    background:url('../images/SBG/SBG2.png') no-repeat;
    margin-top:1190px;
}
.SBGIMG3{
    background:url('../images/SBG/SBG3.png') no-repeat;
    margin-top:2050px;
}
.SBGIMG4{
    background:url('../images/SBG/SBG4.png') no-repeat;
    margin-top:3000px;
}
.transcol1{
    left:138px;  
}
.transcol2{
    left:425px;  
}
.transcol3{
    left:715px;  
}
.transcol4{
    left:1005px;  
}
.bus2{
    left:180px;  
}
.transdesc1{
    left:185px;
}
.transdescSBG{
    left:225px;
}
.transdesc2{
    left:470px;
}
.transdesc3{
    left:760px;
}
.transdesc4{
    left:1050px;
}
.day{
    margin-top:3880px;
}
.dayNMS{
    margin-top:2570px;
}
.daydetails{
    margin-top:3900px;
}
.daydetailsNMS{
    margin-top:2590px;
}
.email{
    margin-top:5100px;
}
.emailNMS{
    margin-top:3400px;
}
.reply{
    margin-top:5120px;
}
.replyNMS{
    margin-top:3420px;
}
.descSBG{
    margin-top:1825px;
}
.descNMS{
    margin-top:530px;
}
.picnic{
    margin-top:5620px;
}        

/* HTML Elements
****************************************************************************/
BODY{
	/*background-color: #FFFFFF;
	color:#FFFFFF;*/
        overflow-x:hidden;
}
A, A:link, A:visited{
	color:#FFFFFF;
	text-decoration:none;
}
table{
        position:absolute;
        display:block;
        font-family:Stag-Book;
        font-size:13px;
        /*color:#000000; */
            
}

DL{
        position:absolute;
        display:block;
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        left:138px;        
        top: 6750px;
        border: 1px solid black;
	margin: 5px;
}
LI{
        font-family:Stag-Book;
        font-size:13px;
        color:#000000; 
        text-transform:none;
}
#SBG{
    margin-top:4050px;
    margin-left:138px;
}
#NMS{
    margin-top:2700px;
    margin-left:138px;
}
#Accordion{
    margin-top:4500px;
    margin-left:138px;
}
.stick {
    position: fixed;
    top: 0;
    z-index:9999;
    left:0px;
}

/* webkit */

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(221,82,60,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}